body {
    background-color: #224062;
    color: #ffffff;
    text-align: center;
}




.topnav {
    background-color: #5cade5;
}



.topnav a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}


.topnav a:hover {
    background-color: #e7c272;
    color: #5cade5;
}