

body {
    background-color: #224062;
    color: #ffffff;
    text-align: center;
    position: absolute;
}




.topnav {
    background-color: #5cade5;
}



.topnav a {
    float: left;
    color: #ffffff;
    font-family: "Lucida Console";
    text-align: center;
    padding-left: 25px;
    text-decoration: none;
    font-size: 18px;
}


/*.topnav a:hover {
    background-color: #e7c272;
    color: #5cade5;
}*/


.title h1 {
    font-family: "Impact";
    margin-top: 85px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.intro #quotes {
    font-family: "Times",Helvetica Neue;
    font-size: 22px;
    padding-left: 195px;
    padding-right: 195px;
    margin-top: 100px;
    margin-bottom: 0px;
    align-content: center;
}

.intro #sources {
    font-family: "Helvetica Neue";
    font-size: 15px;
    padding-left: 425px;
    margin-bottom: 50px;
    color: #ffca28;
}

.navbutton {
    margin-bottom: 250px;
}

.navbutton a {
    margin-right: 5px;
}





.center {
    position: absolute;
    transform: translate(-50%, -50%);
    
    
}

.material-icons {
    color: white;
    margin-top: -180px;
    margin-right: 180px;
    position: relative;
    animation: animateOne 3s linear infinite;
}
@keyframes animateOne {
    0%
    {
        box-shadow: 0 0 0 0 rgba(255,202,40,.7), 0 0 0 0 rgba(255,202,40,.7);
    }
     40%
    {
        box-shadow: 0 0 0 50px rgba(255,202,40,0), 0 0 0 0 rgba(255,202,40,.7);
    }
     80%
    {
        box-shadow: 0 0 0 50px rgba(255,202,40,0), 0 0 0 10px rgba(255,202,40,0);
    }
     100%
    {
        box-shadow: 0 0 0 25px rgba(255,202,40,0), 0 0 0 10px rgba(255,202,40,);
    }
}

<<<<<<< HEAD

#narrative {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 150px;
    
}


#narrative iframe {
    padding-top: 25px;
}



#modernchanges {
    margin-top: 65px;
    padding-top: 10px;
    padding-bottom: 25px;
}




#chart-A {
    
    padding-bottom: 5px;
    margin-top: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

.chart1 {
    height: 380px;
    position: relative;
    width: 1280px;
}

#chart-B {
    padding-top: 5px;
    padding-left: 100px;
    padding-right: 10px;
    float: right;
    margin-bottom: 20px;
}

.chart2 {
    height: 350px;
    position: relative;
    width: 950px;
}


#sum_1 {
    margin-left: 10px;
    padding-top: 22.5px;
    padding-left: 25px;
    padding-right: -20px;
    padding-bottom: 22.5px;
    margin-top: 5px;
    margin-right: 875px;
    position: relative;
    font-family: "Helvetica Neue";
    background-color: #5cade5;
    text-align: left;
}

#sum_2 {
    margin-left: 10px;
    padding-left: 25px;
    margin-top: 12px;
    margin-right: 875px;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    position: relative;
    font-family: "Helvetica Neue";
    background-color: #5cade5;
    text-align: left;
}

.transition_2 #wheel {
    margin-right: 500px;
    margin-top: -55px;
    position: relative;
    animation: animateTwo 9s infinite linear;
}
@keyframes animateTwo {
    0% {
        transform: rotate(0deg);
    }
  
    100% {
        transform: rotate(360deg);
    }
}






.students,
.mask {
    position: relative;
    margin-right: 10px;
    padding-top: 200px;
    margin-top: 75px;
}

.students {
    width: 180px;
    height: 180px;
    float: right;
}

.students img {
    position: relative;
    padding-right: 55px;
    margin-right: 150px;
    z-index: 20;
    margin-bottom: -175px;
    margin-top: 150px;
}

.mask {
    width: 216px;
    height: 216px;
    float: right;
    border-radius: 50%;
    box-shadow: -30px -20px 0 0 rgba(0,0,0,.1) inset,
                -70px -30px 0 0 rgba(0,0,0,.1) inset;
    
    background: url(../images/map.png);
    background-size: cover;
    animation: animateThree 5s infinite linear;
    
}

@keyframes animateThree {
    from {
        background-position: left center;
    }
    to {
        background-position: right center;
    }
}




.tableauPlaceholder {
    margin-top: 5px;
    margin-left: 10px;
}



.states {
    float: right;
    position: relative;
/*    max-height: 1250px;*/
}



#map {
    padding-top: 15px;
    margin-left: 10px;
    float: left;
    position: absolute;
}


.countries {
            fill: #A69550;
            stroke: #224062;
            stroke-width: 0.5px;
            stroke-linecap: round;
            stroke-linejoin: round;
            vector-effect: non-scaling-stroke;
          }
.airports {
            fill: #E85C0C;
            stroke: #FF0000;
            stroke-width: 1px;
            stroke-linecap: round;
            stroke-linejoin: round;
            
            vector-effect: non-scaling-stroke;
            
          }
.route {
            fill: none;
            stroke-width: 1;
            stroke: #CA0CE8;
          }
.plane {
            fill: #18ffff;
            stroke-width: 0;
          }


#chart-C {
    padding-bottom: 5px;
    margin-top: 25px;
    padding-right: 10px;
    padding-left: 10px;
}





#studyingpath {
    margin-top: 85px;
    margin-left: 10px;
    margin-bottom: 55px;
}








.row {
    margin-left: 3.5px;
}



#future {
    margin-top: 125px;
    margin-bottom: 200px;
    padding-top: 5px;

}


#sub_title {
    font-family: "Georgia";
    margin-top: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}
>>>>>>> f0d2578919aa612b2586b677788e38bf60bf7d63
